<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.wsz.rcpsum.ui.perspective.TestConfigPerspective"
            id="com.wsz.rcpsum.ui.perspective.testConfig"
            name="测试配置">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.wsz.rcpsum.ui.category.config"
            name="配置">
      </category>
      <view
            category="com.wsz.rcpsum.ui.category.config"
            class="com.wsz.rcpsum.ui.view.TestConfigView"
            icon="icons/layout_content.png"
            id="com.wsz.rcpsum.ui.view.testConfig"
            name="测试配置"
            restorable="true">
      </view>
      <view
            category="com.wsz.rcpsum.ui.category.config"
            class="com.wsz.rcpsum.ui.view.CreateUsersView"
            icon="icons/folder_user.png"
            id="com.wsz.rcpsum.ui.view.createUsers"
            name="创建联系人"
            restorable="true">
      </view>
      <view
            category="com.wsz.rcpsum.ui.category.config"
            class="com.wsz.rcpsum.ui.view.ScheduleView"
            icon="icons/clock.png"
            id="com.wsz.rcpsum.ui.view.schedule"
            name="日程"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.wsz.rcpsum.ui.perspective.testConfig">
         <view
               closeable="true"
               id="com.wsz.rcpsum.ui.view.testConfig"
               minimized="false"
               ratio="0.6"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="true"
               id="com.wsz.rcpsum.ui.view.createUsers"
               minimized="false"
               moveable="true"
               ratio="0.6"
               relationship="bottom"
               relative="com.wsz.rcpsum.ui.view.testConfig"
               visible="true">
         </view>
         <view
               closeable="true"
               id="com.wsz.rcpsum.ui.view.schedule"
               minimized="false"
               moveable="true"
               ratio="0.6"
               relationship="stack"
               relative="com.wsz.rcpsum.ui.view.createUsers"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.wsz.rcpsum.ui.editor.MutiFormEditor"
            default="false"
            id="com.wsz.rcpsum.ui.editor.mutiform"
            name="多页表单编辑器">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.wsz.rcpsum.ui.preference.SystemSetting"
            id="com.wsz.rcpsum.ui.preference.systemSetting"
            name="系统设置">
      </page>
      <page
            category="com.wsz.rcpsum.ui.preference.systemSetting"
            class="com.wsz.rcpsum.ui.preference.EditorField"
            id="com.wsz.rcpsum.ui.preference.editorField"
            name="编辑字段">
         <keywordReference
               id="keyword.bianjiziduan">
         </keywordReference>
         <keywordReference
               id="keyword.editorField">
         </keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="窗口">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="首选项"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="keyword.bianjiziduan"
            label="bianjiziduan">
      </keyword>
      <keyword
            id="keyword.editorField"
            label="editor field">
      </keyword>
   </extension>

</plugin>
